 <tr class="fields">
          <form 
            class="ui stacked segment form" 
            action="/event/{{../category_id}}/updateevent/{{event_id}}" 
            method="POST"
          >
            <td><span class="{{event_icon}}"></span> {{uppercase name}}</td>
            <td class="field">
              <span class="ui input">
                <input type="text" name="cutoff" required placeholder="Cutoff" value="{{cutoff}}">
              </span>
            </td>
            <td class="field">
              <span class="ui input">
                <input type="text" name="avg_type" required placeholder="Average Type" value="{{avg_type}}">
              </span>
            </td>
            <td class="field">
              <span class="ui input">
                <input type="text" name="wr_vid" required placeholder="World Record" value="{{wr_vid}}">
              </span>
            </td>
            <td>
              <iframe class="vid" src="{{wr_vid}}" allowfullscreen></iframe>
            </td>
            <td class="center aligned">
              <button type="submit" class="editSubmit">
                <i class="ui pencil icon"></i>
              </button>
            </td>
            <td class="center aligned">
              <a href="/event/{{../category_id}}/deleteevent/{{event_id}}" class="ui red button">
                <i class="ui black trash icon"></i>
              </a>
            </td>
          </form>
        </tr>