  {{#if events}}
    <link rel="stylesheet" href="https://cdn.cubing.net/v0/css/@cubing/icons/css">

    <table class="ui fixed striped table">
      <thead>
        <tr>
          <th>Event:</th>
          <th>Cutoff Time:</th>
          <th>Average Type:</th>
          <th>World Record Single:</th>
        </tr>
      </thead>
      <tbody>
        {{#each events}}
          <tr>
            <td><span class="{{event_icon}}"></span> {{uppercase name}}</td>
            <td>{{cutoff}}</td>
            <td>{{avg_type}}</td>
            <td>
              <iframe class="vid" src="{{wr_vid}}" allowfullscreen></iframe>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h3 class="ui message">
      Empty data!
    </h3>
  {{/if}}
