<tr id="event{{@index}}">

  <td><span class="{{event_icon}}"></span> {{uppercase name}}</td>
    <td>
      {{cutoff}}
    </td>
    <td>
       {{avg_type}}
    </td>
    <td>
       <iframe class="vid" src="{{wr_vid}}" allowfullscreen></iframe>
    </td>
    <td class="center aligned">
       <button title="Edit Event" class="editSubmit" id="showEdit">
          <i class="ui pencil icon"></i>
              </button>
            </td>
            <td class="center aligned">
              <a href="/event/{{../category_id}}/deleteevent/{{event_id}}" title="Delete Event">
                <i class="ui black trash icon"></i>
              </a>
            </td>
        </tr>