  {{#if events}}
    <link rel="stylesheet" href="https://cdn.cubing.net/v0/css/@cubing/icons/css">

    <table class="ui fixed striped table">
      <thead>
        <tr>
          <th>Event:</th>
          <th>Cutoff Time:</th>
          <th>Average Type:</th>
          <th>World Record Single:</th>
        </tr>
      </thead>
      <tbody>
        {{#each events}}
          {{> listoneevent categoryId=../id}}
          {{> editevent categoryId=../id}}  
        
        <script>

      document.querySelector("#showEdit{{@index}}").addEventListener ('click', () => {
            document.querySelector("#event{{@index}}").style.display = "none";
            document.querySelector("#edit{{@index}}").style.display = "table-row";
       })
      document.querySelector("#hideEdit{{@index}}").addEventListener ('click', () => {
            document.querySelector("#event{{@index}}").style.display = "table-row";
            document.querySelector("#edit{{@index}}").style.display = "none";
       })
</script>


        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h3 class="ui message">
      Empty data!
    </h3>
  {{/if}}
